cat >.github/workflows/main.yaml<<EOF
name: Django                                  # workflow name

on:
  push:
    branches:                                 # similar to "only" in GitLab
      - main

jobs:
  build:
    runs-on: ubuntu-22.04                    # similar to "image" in GitLab
    steps:
      - uses: actions/checkout@v2

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'

      - run: |
          pip3 install --upgrade virtualenv
          virtualenv env
          source env/bin/activate
          pip install -r requirements.txt
          python manage.py check

  test:
    runs-on: ubuntu-22.04
    needs: build
    steps:
      - uses: actions/checkout@v2

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'

      - run: |
          pip3 install --upgrade virtualenv
          virtualenv env
          source env/bin/activate
          pip install -r requirements.txt
          python manage.py test taskManager

  nuclei-scan:
    runs-on: ubuntu-22.04
    needs: test
    steps:
      - run: |
           docker run --user $(id -u):$(id -g) -w /nuclei -v $(pwd):/nuclei:rw --rm projectdiscovery/nuclei:v2.9.6 -u https://prod-fasrmmp4.stg.lab.practical-devsecops.training -j -o nuclei-output.json

      - uses: actions/upload-artifact@v4
        with:
          name: nuclei scan
          path: nuclei-output.json
        if: always()        # what is this for?

  prod:
    runs-on: ubuntu-22.04
    needs: nuclei-scan
    steps:
      - run: echo "This is a deploy step."
